    <%= render partial: "about" %>
    <%= render partial: "portfolio" %>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading"><%= t '.contact_title' %></h2>
                    <hr class="primary">
                    <p><%= t '.contact_text' %></p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 text-center">
                    <i class="fa fa-phone fa-3x wow bounceIn"></i>
                    <p>123-456-6789</p>
                </div> 
                <div class="col-lg-2 text-center">
                    <div class="row">
                       <a href="mailto:mail@anagorny.com"> <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i></a>
                    </div>
                    <div class="row">
                    <a href="mailto:mail@anagorny.com">mail@anagorny.com</a>
                    </div>
                </div>

                <div class="col-lg-2 text-center">
                    <a href="http://vk.com/entropy22"><i class="fa fa-vk fa-3x wow bounceIn" data-wow-delay=".1s"></i></a>
                </div>

                <div class="col-lg-2 text-center">
                    <a href="https://github.com/Melancholic"><i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i></a>
                </div>

                <div class="col-lg-2 text-center">   
                    <a href="https://plus.google.com/u/0/104487943714573192115"><i class="fa fa-google-plus fa-3x wow bounceIn" data-wow-delay=".1s"></i></a>
                </div>

                <div class="col-lg-2 text-center">   
                    <a href="skype:grizzzly_kuma"><i class="fa fa-skype fa-3x wow bounceIn" data-wow-delay=".1s"></i></a>
                </div>

            </div>
        </div>
    </section>
