
<div class="modal fade auth_modal" role="dialog" id="auth_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Authentificate</h4>
      </div>
      <div class="modal-body">
        <div class="tabbable"> <!-- Only required for left/right tabs -->
      <ul class="nav nav-tabs">
        <li class="active"><a href="#signup_tab" data-toggle="tab"><%=t('sign_up')%></a></li>
          <li><a href="#signin_tab" data-toggle="tab"><%=t('log_in')%></a></li>
        </ul>
          <div class="tab-content">
          <div class="tab-pane active" id="signup_tab">
              <%= render  'shared/sign_up_form' %>
          </div>
          <div class="tab-pane" id="signin_tab">
              <%= render  'shared/sign_in_form' %>
          </div>
        </div>
      </div>
      </div>
        <div class="modal-footer">
        </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->