<div class="row">
    <div class="col-sm-12 col-md-12">
        <% breadcrumb :category, @category %>
        <% breadcrumb :article, @article  if @article.present?%>
        <%= breadcrumbs pretext: "You are here: ",
        style: :bootstrap %>
    </div>
</div>
