<div class="panel">
  <div class="panel-heading">
    <h5 class="panel-title">
      <i class="<%=title_img_classes%>"></i> <%=title%>
      <div class="minimize pull-right">
        <i class="fa fa-chevron-up"></i>
      </div>
    </h5>
  </div>
  <div class="panel-body">
    <%=raw  body %>
  </div>
</div>
