<div class="panel">
  <div class="panel-heading">
    <h5 class="panel-title">
      <i class="<%=title_img_classes%>"></i> <%=title%>
    </h5>
  </div>
  <div class="panel-body">
    <%=raw  body %>
  </div>
</div>
