header.blog_mode{
  min-height: 400px;
}

.panel{
    border-color: #666666;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 0.5em;
}

.panel >.panel-heading{
    border-color: #666666;
    background-color: #666666;
}
.panel >.panel-body{
    background-color: rgba(0, 0, 0, 0.1);
}
.panel > .panel-body > ul.list-group > li {
  color:#666666 ;
  background-color:#ddd;
  border-color: #aaa; 
}
.nav.nav-list.categories{
    color: #666666;
}

.main-content,.right-blocks {
    padding-top: 1em;
}


/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #ddd;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #666666;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #777;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}
    
.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #fff;
  background-color: #999;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #777;
  color: #fff;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #fff;
  background-color: #555;
  border-left: 2px solid #444;
  margin-left: -2px;
}

/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 460px;
}

.tab-content{
  margin-top:1em; 
}

.link-to-classic-auth{
  margin-top: 2em;
  margin-bottom: 0;
  color: #999;
}
