<div class="row">
    <div class="col-sm-12 col-md-12 center-block">
        <%= paginate @articles %>
    </div>
</div>

    <% @articles.each do |article| %>
        <% if can?(:read, article)%>
            <%= render article %>
        <%end%>
    <% end %>

<div class="row">
    <div class="col-sm-12 col-md-12 center-block ">
        <%= paginate @articles %>
    </div>
</div>