<section id="bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 text-center">
                <%=render 'layouts/select_locale'%>
                </div>
                <div class="col-lg-8  text-center">
                    <p>Copyright© <%=Time.now.year%>  by <a  href="http://anagorny.com"> Andrey Nagorny</a> </p>
                </div>
            </div>
        </div>
</section>