<section id="bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <%= render 'layouts/select_locale' %>
                <p>Copyright© 2015-<%=Time.now.year%>  by <a  href="http://anagorny.com"> Andrey Nagorny</a> </p>
            </div>
        </div>
    </div>
</section>