<section id="bottom">
    <div class="row">
        <div class="col-md-4 pull-left">
            <%=render 'layouts/select_locale'%>
        </div>
        <div class="col-md-offset-2 col-md-6  pull-right">
            <p>Copyright© 2015-<%=Time.now.year%>  by <a  href="http://anagorny.com"> Andrey Nagorny</a> </p>
        </div>
    </div>
</section>