 <%= render 'layouts/nav' %>
 <header class ="<%= "blog_mode"  unless current_page?(root_path) %>" >
 	<div class="header-content">
 		<div class="header-content-inner">
 			<p style="font-size: 25px;"><%=t('.description')%></p>
 			<%= link_to t('.about_link'), "#{root_url}#about", class: "btn btn-primary btn-xl page-scroll" %>
 		</div>
 	</div>
 </header>
